[Google Sheets]
access_token: ACCESS_TOKEN
refresh_token: REFRESH_TOKEN
client_id: CLIENT_ID
client_secret: CLIENT_SECRET
token: /path/to/token.json
report_subjects_sheet: examplesheetid
report_subjects_range: subjects!A:Z
digester_sheet: examplesheetid
digester_test_sheet: examplesheetid
digester_range: Sheet1!A:Z

[Other]
archival_data_directory: /example/oai
archival_data_test_directory: /example/test/oai
as_daily_xslt = /example/cleanOAI.xsl

[ArchivesSpace]
baseurl: https://sandbox.archivesspace.org/api/
username: admin
password: admin